name: Renovate
on:
  schedule:
    - cron: '0 1,3,6,9,13,22,23 * * *'
  workflow_dispatch:

jobs:
  renovate:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0

      - name: Renovate
        uses: renovatebot/github-action@8cb0d4a6ab7d8bb90460a005f7bd33b80dd07ca8 # v44.2.5
        with:
          renovate-image: ghcr.io/nabeken/renovate-github-apps
          configurationFile: .github/renovate-global.json
          env-regex: "^(?:RENOVATE_\\w+|LOG_LEVEL|GITHUB_PRIV_KEY|GO_GITHUB_APPS_\\w+)$"
        env:
          # let the custom image unset RENOVATE_TOKEN
          RENOVATE_TOKEN: _ACTION_DUMMY_
          GO_GITHUB_APPS_INST_ID: ${{ secrets.renovate_app_inst_id }}
          GO_GITHUB_APPS_APP_ID: ${{ secrets.renovate_app_id }}
          GITHUB_PRIV_KEY: ${{ secrets.renovate_app_priv_key }}
