name: Renovate
on:
  schedule:
    - cron: '0 1,3,6,9,13,22,23 * * *'
  workflow_dispatch:

jobs:
  renovate:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup node
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0

      - name: Renovate
        uses: renovatebot/github-action@5712c6a41dea6cdf32c72d92a763bd417e6606aa # v44.0.5
        with:
          renovate-image: ghcr.io/nabeken/renovate-github-apps
          configurationFile: .github/renovate-global.json
          env-regex: "^(?:RENOVATE_\\w+|LOG_LEVEL|GITHUB_PRIV_KEY|GO_GITHUB_APPS_\\w+)$"
        env:
          # let the custom image unset RENOVATE_TOKEN
          RENOVATE_TOKEN: _ACTION_DUMMY_
          GO_GITHUB_APPS_INST_ID: ${{ secrets.renovate_app_inst_id }}
          GO_GITHUB_APPS_APP_ID: ${{ secrets.renovate_app_id }}
          GITHUB_PRIV_KEY: ${{ secrets.renovate_app_priv_key }}
