name: Renovate
on:
  schedule:
    - cron: '0 1,3,6,9,13,22,23 * * *'
  workflow_dispatch:

jobs:
  renovate:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Setup node
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0

      - name: Renovate
        uses: renovatebot/github-action@03026bd55840025343414baec5d9337c5f9c7ea7 # v44.0.4
        with:
          renovate-image: ghcr.io/nabeken/renovate-github-apps
          configurationFile: .github/renovate-global.json
          env-regex: "^(?:RENOVATE_\\w+|LOG_LEVEL|GITHUB_PRIV_KEY|GO_GITHUB_APPS_\\w+)$"
        env:
          # let the custom image unset RENOVATE_TOKEN
          RENOVATE_TOKEN: _ACTION_DUMMY_
          GO_GITHUB_APPS_INST_ID: ${{ secrets.renovate_app_inst_id }}
          GO_GITHUB_APPS_APP_ID: ${{ secrets.renovate_app_id }}
          GITHUB_PRIV_KEY: ${{ secrets.renovate_app_priv_key }}
