# https://github.com/hatena/renovate-config/blob/687964addf81a21051571d09a4829af43bc00ab4/.github/workflows/validate-config.yml
name: Validate renovate config

on:
  push:
    branches: [main]
  pull_request:

env:
  # renovate: datasource=node-version depName=node
  NODE_VERSION: '24.11.1'

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      CI: true

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
        with:
          node-version: '${{ env.NODE_VERSION }}'
      - uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node
      - name: Validate renovate config
        run: |
          for file in *.json*
          do
            echo "[CI] Let's validate $file"
            RENOVATE_CONFIG_FILE=${file} npx --package renovate -c 'renovate-config-validator'
          done
