# https://github.com/hatena/renovate-config/blob/687964addf81a21051571d09a4829af43bc00ab4/.github/workflows/validate-config.yml
name: Validate renovate config

on:
  push:
    branches: [main]
  pull_request:

env:
  # renovate: datasource=node-version depName=node
  NODE_VERSION: '24.13.0'

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      CI: true

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version: '${{ env.NODE_VERSION }}'
      - uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node
      - name: Validate renovate config
        run: |
          for file in *.json*
          do
            echo "[CI] Let's validate $file"
            RENOVATE_CONFIG_FILE=${file} npx --package renovate -c 'renovate-config-validator'
          done
